
<div id="posts" class="posts-expand">
  {% assign post = page %}
  {% include _macro/post.html %}
  <div class="post-spread">
    {% if site.jiathis %}
      {% include _partials/share/jiathis.html %}
    {% elsif site.baidushare %}
      {% include _partials/share/baidushare.html %}
    {% elsif site.add_this_id %}
      {% include _partials/share/add-this.html %}
    {% elsif site.duoshuo_shortname and site.duoshuo_share %}
      {% include _partials/share/duoshuo_share.html %}
    {% endif %}
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
      id: location.href,
      owner: rangroy,
      repo: rangroy.github.io,
      oauth: {
        client_id: ec7e3da6ee1c45f4b283,
        client_secret: b4911734af2a56aed15f053950893d2a758dfc23,
      },
    })
    gitment.render('container')
    </script>
  </div>
</div>
